.menu-bar {
  position: fixed;
  color: var(--secondary-color);
  z-index: 9001;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
  align-items: center;
}

.menu-bar > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu-bar > div > span {
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  width: max-content;
}

.menu-bar > .menu-link-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.menu-link-button {
  border: 2px solid white;
  border-radius: 40px;
  text-decoration: none;
  margin: 5px 10px;
  padding: 5px 10px;
  color: white;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color:  var(--secondary-color);
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}


.menu-background {
  position: fixed;
  background-color: var(--tertiary-color);
  right: -200px;
  top: -200px;
  height: 0;
  width: 0;
  z-index: 9000;
  border-bottom-left-radius: 80%;
  transition: all 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-background.is-active{
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 40%;
  padding-bottom: 40%;
}
