:root {
    --scroll: 0;
    --size: 20px;
}
@keyframes background-container {
    from {
        height: 500vh;
        background-color: black;
    }
    60% {
        height: 500vh;
        background-color: skyblue;
    }
    99% {
        height: 500vh;
        background-color: skyblue;
    }
    to {
        height: 100vh;
        background-color: skyblue;
    }
}

@keyframes op {
    0% {
        opacity: 0%;
    }
    10% {
        opacity: 0%;
    }
    60% {
        opacity: 100%;
    }

}

@keyframes scroll-helper {
    0% {
        bottom: 5%;
    }
    5% {
        bottom: 6%;
    }
    10% {
        bottom: 5%;
    }
    15% {
        bottom: 6%;
    }
    20% {
        bottom: 5%;
    }
    25% {
        bottom: 6%;
    }
    30% {
        bottom: 5%;
    }
}

@keyframes sun-rise {
    0% {
        bottom: 20%;
    }
    100% {
        bottom: 80%;
    }
}


@keyframes sun-rise-shadow {
    from {
        filter: grayscale(60%) sepia(0%);
    }
    30% {
        filter: grayscale(0%) sepia(20%);
    }
    40% {
        filter: sepia(20%);
    }
    70% {
        filter: sepia(0%);
    }
    to {

    }
}


@keyframes hide-overflow {
    99% {
        overflow-y: scroll;
    }
    100% {
        overflow-y: hidden;
    }
}


.sun-rise-shadow {
    animation: sun-rise-shadow 1s none;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}


#hero-container {
    height: 500vh;
    padding: 0;
    margin: 0;

    animation:  background-container 1s linear;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;

}

.absolute {
    position: absolute;
}

#hero-cage {
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: skyblue;

    animation:  hide-overflow 1s linear;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.background-wrap {
    position: sticky;
    bottom: 0;
    height: 0px;
}

.background-img {
    position: absolute;
    background-image: url("../images/pexels-azorky-1132009.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100%;
    bottom: 0;
}


.hero-scroll {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    bottom: 5%;
    opacity: 60%;

    animation: scroll-helper 10s linear 10s infinite alternate;
}
.hero-scroll > svg {
    font-size: 30px;
    margin-bottom: 5px;
}

.sun {
    position: absolute;
    height: 100vh;
    width: 100%;
    bottom: 0;
}

.sun::before {
    content: "";
    position: absolute;
    left: 60%;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    filter: blur(7px);

    background: #FFEE56;
    box-shadow: 0px 0px 120px 100px rgba(255, 238, 86, 0.52);

    animation: sun-rise 1s none;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.products {
    width: 100%;
    display: grid;
    position: absolute;
    bottom: 20%;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));

    animation: op 1s none;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}


.products > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.products > div > svg {
    font-size: 80px;
}


.menu {
    animation: background 1s none;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes background {
    from {
        background-color: transparent;
        top: 20px;
        width: 90%;
    }
    60%{
        background-color: transparent;
        top: 0;
        width: 100%;
    }
    to {
        background-color: var(--primary-color);
    }
}
