@media only screen and (max-width: 800px) {
    .menu-bar > .menu-link-bar > a {
        display: none;
    }

    .products {
        width: 100%;
        max-width: 440px;
    }

    .products > div > svg{
        font-size: 60px;
    }
    .web-card {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: 2.5% 2.5%;
        grid-template-areas:
                "PlanA"
                "PlanB"
                "PlanC"
                "PlanD";
    }
    .gaming {
        grid-template-columns: 35% 25% 35%;
        grid-template-rows: auto;
        gap: 5px 10px;
        grid-template-areas:
                "Title Title Title"
                "ImageA TextA TextA"
                "TextB TextB ImageB"
                "TextC TextC TextC";
    }
}

@media only screen and (min-width: 801px) {

    .menu-bar > .menu-link-bar > div {
        display: none;
    }
    .menu-bar > .hamburger  {
        display: none;
    }

    .products {
        width: 80%;
        max-width: 2000px;
    }
    .web-card {
        grid-template-columns: 25% 35% 35%;
        grid-template-rows: auto;
        gap: 2.5% 2.5%;
        grid-template-areas:
                "Image PlanA PlanB"
                "Image . ."
                "Image PlanC PlanD";
    }
    .gaming {
        grid-template-columns: 35% 35% 25%;
        grid-template-rows: auto;
        gap: 5px 10px;
        grid-template-areas:
                "Title Title Title"
                "ImageA TextB ImageC"
                "ImageA TextB ImageC"
                "ImageA TextB ImageC"
                "ImageA ImageB ImageC"
                "TextA ImageB TextC";
    }
}
