@media only screen and (max-width: 600px) {
    .menu {
        width: 100%;
        justify-content: space-around;
    }
    .menu > .menu-link-bar > a {
        display: none;
    }

    .products {
        width: 100%;
    }

    .products > div > svg{
        font-size: 60px;
    }
}

@media only screen and (min-width: 601px) {
    .menu {
        width: 80%;
        max-width: 2000px;
        justify-content: space-between;
    }
    .menu > .menu-link-bar > div {
        display: none;
    }
    .menu > .menu-burger  {
        display: none;
    }

    .products {
        width: 80%;
        max-width: 2000px;
    }

}
