
.menu-burger {
    position: relative;
    height: 40px;
    width: 40px;
}

.burger-top {
    border-bottom: 4px solid #ffffff;
    position: absolute;
    width: 100%;
    top: 0;
}

.burger-center {
    border-bottom: 4px solid #ffffff;
    position: absolute;
    width: 80%;
    top: 18px;
}

.burger-bottom {
    border-bottom: 4px solid #ffffff;
    position: absolute;
    width: 100%;
    top: 36px;
}
